<article class="li {{ .Type }}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        {{ partial "attribution" . }}
    </header>
    
    <section class="post-excerpt">
        <p>{{ .Summary }}</p>
    </section>
    {{ if .Truncated }}
    <div class="read-more-link">
        <a href="{{ .RelPermalink }}">Read More…</a>
    </div>
    {{ end }}
    <footer class="p-post-footer">
        <span>
            {{ if .Site.Params.disqusShortname }}
            <a href="{{ .Permalink }}#comments"><i class="fa fa-comment"></i> Comments</a>
            {{ end }}
            {{ with .Params.tags }}
            	&nbsp;&nbsp;<i class="fa fa-tag"></i>
            {{ end }}
            <ul class="tags">
            {{ range .Params.tags }}
                    <li><a href="/tags/{{ . | urlize }}">{{ . }}</a></li>
                {{ end }}
            </ul>
         </span>
    </footer>
</article>
