    <header id="site-header">
        <div class="container">
            <a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}"><h1 class="blog-title heading">{{ .Site.Title }}</h1></a>
            <p class="blog-description">
        <nav>
            <ul id="topnav">
                <li><a href="/tags">Tags</a></li>
                <li><a href="/authors">Authors</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
            </p>
         </div>
    </header>
